@import '../../../styles/styles.scss';

.all-clinic-container {
    margin-top: 60px;
    padding: 20px 40px 0;

    .header-search {
        flex: 1;
        padding-right: 10px;
        width: 280px;
        position: relative;
        background-color: $white-color;
        display: flex;

        .header-search-input {
            flex: 1;
            width: 100%;
            height: 100%;
            padding-right: 10px;
            font-size: 14px;
            height: 30px;
        }

        .header-search-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            height: 20px;
            width: 30px;

            i {
                position: absolute;
                top: 50%;
                left: 24%;
                transform: translateY(-50%);
            }
        }
    }

    .all-clinic-content {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .clinic_item {
            cursor: pointer;
            border: 1px solid #ccc;
            width: 24%;
            height: auto;

            .clinic_img {
                width: 100%;
                height: 150px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .clinic_name {
                text-align: center;
            }
        }


    }
}