@import '../../../styles/styles.scss';

.doctor-recommend-container {
    padding: 20px 100px;
    display: flex;
    gap: 20px;
    justify-content: center;

    .doctor_wrap {
        width: 200px;

        &:hover {
            color: $primary-color;
            cursor: pointer;
        }

        .doctor_img {
            background-position: center;
            border-radius: 50%;
            background-color: red;
            width: 200px;
            height: 200px;
            background-size: cover;
        }

        .doctor_name {
            text-align: center;
            margin-top: 10px;
        }
    }
}