@import "../../styles/styles.scss";

.retrieve-pwd-container {
    // margin-top: 60px;
    // padding: 10px 0;
    background: url('../../assets/images/login/bg-01.jpg') no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .err_heading {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    .account_content {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;

        .title {
            margin: 10px 0;
            color: $colormain;
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .auth-form__input {
            position: relative;

            input {
                padding-right: 30px;
            }

            .show-pwd-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }

    }
}